*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* in style.css */
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body{
  background-color: rgba(107, 6, 6, 0.924);
}