*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.div1, .div2, .div3 {
  position: relative;
  z-index: 2;
}
/* body{
  overflow: hidden;
} */
 

