*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background: #01010f;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  color: #f5f3f3;
  /* overflow: hidden; */
}
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.div1, .div2, .div3 {
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 2;
    position: relative; 
}

.div1, .div3 {
  justify-content: flex-start;   /* left */
  padding-left: 50px;
}

.div2 {
  justify-content: flex-end;     /* right */
  padding-right: 50px;
}
h1{
  font-size: 100px;
}
 

